#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !^/index\.php$
#RewriteCond %{REQUEST_URI} ^.*\.php
#RewriteCond %{REQUEST_URI} !^/content_static/.*$
#RewriteRule (.*) index.php [L]
